@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<h1>Welcome to InfoDevOps</h1>
<h1>Author : InfoDevOps Admin</h1>
<h2>Continous Integration Enabled</h2>
<h2>Making Integration Easy</h2>
<h2>Enabled Continuous builds/automated builds</h2>
<h3>Enabled Pre-Merge Builds</h3>
<h3>New branch</h3>